
/********************************/
/************* FONTES ***********/
/********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: 'Roboto-MD';
    src: url('../Fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Valorant';
    src: url('../Fonts/Valorant Font.ttf') format('opentype');
    
}
@font-face {
    font-family: 'Impact';
    src: url('../Fonts/Impacted.ttf') format('opentype');
}

@font-face {
    font-family: 'impact';
    src: url('../Fonts/impact.ttf') format('opentype');
}


/********************************/
/******** CORPO DA PAGINA *******/
/********************************/


body{
background: url(../imagens/),
url(../imagens/),
linear-gradient(50deg,#9bf0e1,#7c26f8);
background-attachment: fixed; 
font-family: "Valorant", sans-serif; 
}

.bg-black{
    height: 80px;
    padding: 20px;
    background: #000;
    
}

/********************************/
/****** IMAGENS / CARD   ********/
/********************************/
.animationAgente{
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    margin-right: 400px;
    width: 500px;
}

.imgCard{
    margin-left: 0;
    align-items: center;
    padding: 15px;
} 
.cardSobreposi{
    margin-top: 270px;
}

.cardNoticias{
    height: 340px;
    align-items: center;
   
}

.cardNoticias:hover{
    height: 500px;
    align-items: center;
    text-decoration: none;
   
}

.cardNoticias span{
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #d9014e;
}

.cardNoticias p{
    margin-left: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

.cardNoticias h5{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #3a3a3a;
}



/********************************/
/**** Formatação de texto *******/
/********************************/
.textoDisrup {
    margin-top: 340px;
}

.textoDisrup span{
    padding: 20px;
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto';
}

.textoDisrup h2{
    font-size: 90px;
    padding: 20px;
    color: #fff;
    font-family: 'impact';
}

.Noticias {
    position: absolute;
    margin-top: 160px;
    font-size: 95px;
    color:#d9014e;
    font-family: 'Impact';
}

.conteudoTitulo{
    text-align: center;
    
}

.titulos{
    font-family: "Valorant";
    text-align: center;
    font-size: 130px;
    margin-top: -15px;
    color: #fff;
    opacity: 0.95;
}

.p-titulo{
    margin-top: 24em;
    margin-bottom: 2em;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
}

.textSomos{
    font-family: 'impact';
    font-size: 90px;
    color: #000;
}

.contBox h5{
    font-family: 'Roboto';
    font-size: 20px;
    

} 
.contBox span{
    font-family: 'Roboto';
    font-size: 15px;
    margin-top: 60px;
}

.contBox{
    margin-left: 150px;
}

.text-agentes{
    margin-top: 150px;
    font-size: 90px;
    font-family: 'impact';
    color: #fff;
}

.sub-text-agentes{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:  #fff;
}

.span-text-agentes{
    font-size: 14px;
    padding-right: 30px;
    color: #fff;
    font-family: 'Roboto-MD';
    opacity: 0.8;
}

.text-mapas{
    font-family: 'impact';
    font-size: 128px;
    color: #000;
}

.sub-text-mapas{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    color:  #000;
}
.span-text-mapas{
    font-size: 14px;
    padding-right: 30px;
    margin-top: 50px;
    color: #000;
    font-family: 'Roboto-MD';
    opacity: 0.8;
}

/********************************/
/********** Caixas BG ***********/
/********************************/



.caixa-titulo{
   
    width: 100%;
    height: 840px;
    margin-top: -150px;
    background: url(../Movie/animationV.gif) repeat;
    background-size: cover;
   
}

.caixa-noticias{
    
    width: 100%;
    margin-top: -135px;
    height: 800px;
    padding: 100px;
    background: url(../imagens/bg-noticias.png) ;
    background-size: cover;
 
}

.caixa-ato{
   
    width: 100%;
    height: 800px;
    margin-bottom: -100px;
    background-image: url(/Imagens/yoru-bg2.jpg);
    background-size: cover;
}

.caixa-agentes{
   
    width: 100%;
    height: 700px; 
    margin-top: -100px;
    background-image: url(/Imagens/bg-agentes.png);
    background-size: cover;
}

.caixa-somos{
   
    width: 100%;
    height: 750px;
    background:#f3eae8;
}

.caixa-maps{
    width: 100%;
    height: 700px;
    background:#f3eae8;
    background-image: url(/Imagens/MAPS.png);
    background-size: cover;
}




/********************************/
/********** Media ***********/
/********************************/

.media-link{
    margin-left: 20px;
}

.media-iframe iframe{
    width: 600px;
    margin-left: 1px;
}

.media-div{
    width: 500px;
    margin-left: 200px;
}

/********************************/
/********** Buttons ***********/
/********************************/


.btn-ato{
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    font-family: "Roboto", Arial, sans-serif;
    background: #d9014e;
    color: #fff;
}

.btn-ato:hover{
    color: #fff;
    text-decoration: none;
    background: #3a3a3a;
}

.btn-titulo{
    display: inline-block;
    width: 250px;
    height: 55px;
    padding: 19px;
    font-size: 13px;
    font-family: "Roboto", Arial, sans-serif;
    margin-top: 6px;
    background: #d9014e;
    color: #fff;
}

.btn-titulo:hover{
    background: #3a3a3a;
    color: #fff;
    text-decoration: none;
    transition:  0.3s;
   
}

.btn-somos{
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 50px;
    font-family: "Roboto", Arial, sans-serif;
    background: #d9014e;
    color: #fff;
}

.btn-somos:hover{
    color: #fff;
    text-decoration: none;
    background: #3a3a3a;
}

.btn-agentes{
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
    background: #3a3a3a;
    color: #fff;
}

.btn-agentes:hover{
    color: #fff;
    text-decoration: none;
    background: #000;
}


.contBoxAgente{
    margin-left: 40px;
}

.btn-mapas{
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 50px;
    font-family: "Roboto", Arial, sans-serif;
    background: #d9014e;
    color: #fff;
}

.btn-mapas:hover{
    color: #fff;
    text-decoration: none;
    background: #3a3a3a;
}