
/********************************/
/************* FONTES ***********/
/********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: 'Valorant';
    src: url('../Fonts/Valorant Font.ttf') format('opentype');
    
}
@font-face {
    font-family: 'Impact';
    src: url('../Fonts/Impacted.ttf') format('opentype');
}

@font-face {
    font-family: 'impact';
    src: url('../Fonts/impact.ttf') format('opentype');
}


/********************************/
/******** CORPO DA PAGINA *******/
/********************************/


body{
background: url(../imagens/),
url(../imagens/),
linear-gradient(50deg,#9bf0e1,#7c26f8);
background-attachment: fixed; 
font-family: "Valorant", sans-serif; 
}

.bg-black{
    height: 80px;
    padding: 24px;
    background: #000;
    
}

/********************************/
/****** IMAGENS / CARD   ********/
/********************************/
.imagem{
    margin-top: -30px;
}

.imgCard{
    margin-left: 0;
    align-items: center;
    padding: 15px;
} 
.cardSobreposi{
    margin-top: 270px;
}

.cardNoticias{
    height: 340px;
    align-items: center;
   
}

.cardNoticias:hover{
    height: 500px;
    align-items: center;
    text-decoration: none;
   
}

.cardNoticias span{
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #d9014e;
}

.cardNoticias p{
    margin-left: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

.cardNoticias h5{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #3a3a3a;
}



/********************************/
/**** Formatação de texto *******/
/********************************/
.textoDisrup {
    margin-top: 340px;
}

.textoDisrup span{
    padding: 20px;
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto';
}

.textoDisrup h2{
    font-size: 90px;
    padding: 20px;
    color: #fff;
    font-family: 'impact';
}

.btn-ato{
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    font-family: "Roboto", Arial, sans-serif;
    background: #d9014e;
    color: #fff;
}

.btn-ato:hover{
    color: #fff;
    text-decoration: none;
    background: #3a3a3a;
}


.Noticias {
    position: absolute;
    margin-top: 160px;
    font-size: 95px;
    color:#d9014e;
    font-family: 'Impact';
}



.conteudoTitulo{
    text-align: center;
    
}

.titulos{
    font-family: "Valorant";
    text-align: center;
    font-size: 130px;
    margin-top: -15px;
    color: #fff;
}

.p-titulo{
    margin-top: 24em;
    margin-bottom: 2em;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
}

.btn-titulo{
    display: inline-block;
    width: 250px;
    height: 60px;
    padding: 23px;
    font-size: 10px;
    font-family: "Roboto", Arial, sans-serif;
    margin-top: 10px;
    background: #d9014e;
    color: #fff;
}

.btn-titulo:hover{
    background: #3a3a3a;
    color: #fff;
    text-decoration: none;
    transition:  0.3s;
   
}





/********************************/
/********** Caixas BG ***********/
/********************************/



.caixa-titulo{
    
    width: 100%;
    height: 840px;
    margin-top: -150px;
    background: url(../Movie/animationV.gif) no-repeat;
    /*background: #181413; */
   
}

.caixa-noticias{
    
    width: 100%;
    margin-top: -150px;
    height: 800px;
    padding: 100px;
    background: url(../imagens/bg-noticias.png) ;
    
}

.caixa-ato{
    width: 100%;
    height: 800px;
    background: url(../imagens/yoru-bg2.jpg) no-repeat ;
}

.caixa-agentes{
    
    width: 100%;
    height: 500px;
    background: #d5e5f7;
}

