
/********************************/
/************* FONTES ***********/
/********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: 'Valorant';
    src: url('../Fonts/Valorant\ Font.ttf') format('opentype');
    
}

/********************************/
/******** CORPO DA PAGINA *******/
/********************************/

body{
background: url(../imagens/),
url(../imagens/),
linear-gradient(50deg,#9bf0e1,#7c26f8);
background-attachment: fixed; 
font-family: "Valorant", sans-serif; 
}

/********************************/
/****** IMAGENS / CARD   ********/
/********************************/
.imagem{
    margin-top: -30px;
}

.imgCard{
    margin-left: 0;
    align-items: center;
    padding: 15px;
} 

.cardNoticias{
    height: 500px;
    align-items: center;
   
}

.cardNoticias p{
    text-align: center;
    padding: 15px;
}



/********************************/
/**** Formatação de texto *******/
/********************************/

.conteudoTitulo{
    text-align: center;
    
}

.titulos{
    font-family: "Valorant";
    text-align: center;
    font-size: 130px;
    margin-top: -15px;
    color: #fff;
}

.p-titulo{
    margin-top: 10em;
    margin-bottom: 2em;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-titulo{
    display: inline-block;
    width: 250px;
    height: 60px;
    padding: 23px;
    font-size: 10px;
    font-family: "Roboto", Arial, sans-serif;
    margin-top: 10px;
    background: #d9014e;
    color: #fff;
}

.btn-titulo:hover{
    background: #191f3b;
    color: #fff;
    text-decoration: none;
    transition:  0.3s;
   
}

.animacao{
   
}


h2{
    margin-top: 500px;
    
}

/********************************/
/********** Caixas BG ***********/
/********************************/



.caixa-titulo{
    
    width: 100%;
    height: 640px;
    background: url(../imagens/valorant-bg.jpg)  ;
    /*background: #181413; */
   
}

.caixa-noticias{
    
    width: 100%;
    height: 800px;
    padding: 100px;
    background: #d5e5f7;
}

.caixa-agentes{
    
    width: 100%;
    height: 500px;
    
    background: #d5e5f7;
}

